doctype html
html
 head(lang='en')
  meta(http-equiv='content-type', content='text/html; charset=UTF-8')
  meta(charset='UTF-8')
  title github documents
  link(rel='stylesheet', href='css/style.css', type='text/css')
  link(rel='stylesheet', href='css/font-awesome.min.css', type='text/css')
  script(src='js/jquery.min.js')
  script(src='js/jquery.easing.js')
  script(src='js/perfectscroll.min.js')
  script(src='js/script.js')
 body
  .wrapper
   .wrapper-left
    .logo
     img(src='images/github.png')
    .nav-wrapper
     nav
      ul
       li
        a(href='#sec1') Introduction
       li
        a(href='#sec2') section 2
       li
        a(href='#sec3') section 3
       li
        a(href='#sec4') section 4
        ul
         li
          a(href='#sec4a') section 4a
         li
          a(href='#sec4b') section 4b
         li
          a(href='#sec4c') section 4c
         li
          a(href='#sec4d') section 4d
       li
        a(href='#sec5') section 5
    footer  Copyright © 2016 Ben Eaves
   .wrapper-right.nav-wrapper-r
    section#sec6
     .document(role='main')
    section#sec1
     h2 Introduction
     h2
      | Add text here
      br
     ul
      li Created: xx/xx/2016
      li Latest update: xx/xx/2016
      li
       | By: ben eaves
       br
      li
       a(href='http://www.angeal185.github.com') http://www.angeal185.github.com
      li
       | Email: 
       a(href='mailto:beneaves01@hotmail.com') beneaves01@hotmail.com
      li
       | Support: 
       a(href='http://support.angeal185.github.com') http://support.
     p.thank-you
      | Add text here
      br
    section#sec2
     h2 section 2
     .content
      ul.files-included
       li  Add text here
       li  Add text here
       li  Add text here
       li  Add text here
    section#sec3
     h2 section 3
     .content
      ul.files-included
       li  Add text here
       li  Add text here
       li  Add text here
       li  Add text here
    section#sec4a
     h2 section 4a
     .content
      ul.files-included
       li  Add text here
       li  Add text here
       li  Add text here
       li  Add text here
    section#sec4b
     h2 section 4b
     .content
      ul.files-included
       li  Add text here
       li  Add text here
       li  Add text here
       li  Add text here
    section#sec4c
     h2 section 4c
     .content
      ul.files-included
       li  Add text here
       li  Add text here
       li  Add text here
       li  Add text here
    section#sec4d
     h2 section 4d
     .content
      ul.files-included
       li  Add text here
       li  Add text here
       li  Add text here
       li  Add text here
    section#sec5
     h2 section 5
     .document-content
      p If you have any questionsn
      p
       | contact me via 
       a(href='mailto:beneaves01@hotmail.com.com') email
       | .
      |             Or create topic here: 
      a(href='http://www.support.angeal185.github.com') http://support.angeal185.github.com
      | .